@{
    ViewData["Title"] = "Thanh toán thất bại";
}
<main class="container">
    <div style="">
        <div class="container">

            <div class="row">
                <div class="col-12 ">
                    <div class="message-box">
                        <div class="success-container">
                            <br>
                            <img src="~/frontendassets/images/logo3.png" style="height: 100px;" />
                            <br>
                            <div style="padding-left: 5%; padding-right: 5%">
                                <hr
                            </div>
                            <br>
                            <h1 class="monserrat-font" style="color: Grey">Cảm ơn bạn đã thanh toán!</h1>
                            <br>

                            <div class="confirm-waring-box">
                                <br>
                                <h5>Đơn hàng của bạn thanh toán thất bại!</h5>
                                <p>Mã hóa đơn #@ViewBag.OrderCode của bạn chưa được thanh toán, vui lòng thử lại!</p>
                            </div>

                            <br>
                            <a href="/" id="create-btn" class="btn btn-ouioui-secondary margin-left-5px">Trở về</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>