<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3   col-12">
                <h3 class="footer_title">Liên Hệ Hợp Tác</h3>
                <p>Điện thoại: 0123.456.789 (8:30 - 17:00)</p>
                <p>Hotline: 0123.456.789</p>
                <p>Email: a@gmail.com</p>
                <p>Địa chỉ: Số 1, Phạm Văn Bạch, phường Yên Hòa, quận Cầu Giấy, Hà Nội.</p>
            </div>
            <div class="col-md-3  col-xs-12">
                <h3 class="footer_title">Thông tin</h3>
                <ul>
                    <li>
                        <a href="#">
                            Về chúng tôi
                        </a>
                    </li>
                    <li><a href="">Khuyến mãi</a></li>
                    <li><a href="#">Phương thức thanh toán</a></li>
                    <li>
                        <a href="#">
                            Chính sách bảo mật và các điều khoản
                        </a>
                    </li>
                    <li><a href="#">Hướng dẫn đặt vé</a></li>
                    <li><a href="#">Các câu hỏi thường gặp</a></li>
                    <li><a href="#">Chính sách điều khoản sử dụng cho khách hàng</a></li>
                </ul>
            </div>
            <div class="col-md-3  col-12">
                <h3 class="footer_title">Khách hàng</h3>
                <ul>
                    <li>
                        <a href="#">
                            Đăng nhập dành cho đối tác
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Tra cứu thông tin đặt vé
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Tài khoản
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Gửi sự kiện
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Danh sách sự kiện
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Sự kiện đã diễn ra
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Chương trình Go Xu
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3  col-12">
                <h3 class="footer_title">Đăng ký nhận email</h3>
                <form  method="post" target="popupwindow">
                    <div class="btn-subscribe rounded input-group overflow-hidden">
                        <div class="i-email input-group-addon">
                            <span class="ello-mail-alt">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="relative form-control subscribe-input">
                            <input id="sub_mail" class="color-9" required="true" type="email" name="email" placeholder="Email của bạn" tabindex="200" aria-required="true">
                            
                        </div>
                        <div data-style="zoom-out" class="i-go ladda-button smooth-trans input-group-addon btn-submit-subscriber" tabindex="201">
                            <span class="ladda-label">
                                <button type="submit" id="create_sub_mail" class="ello-paper-plane">
                                    <i class="fa-solid fa-paper-plane" aria-hidden="true"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
                <div style="padding-top: 15px;">
                    <a class="fa-brands fa-facebook icon_socical socical_fb" href="#"></a>
                    <a class="fa-brands fa-pinterest icon_socical socical_pin" href="#"></a>
                    <a class="fa-brands fa-twitter icon_socical socical_twitter" href="#"></a>
                    <a class="fa-brands fa-instagram icon_socical socical_instagram" href="#"></a>
                    <a class="fa-brands fa-linkedin icon_socical socical_linedin" href="#"></a>
                    <a class="fa-brands fa-youtube icon_socical socical_youtube" href="#"></a>
                </div>
               
            </div>
        </div>
    </div>
</div>